{% load static %}
<!DOCTYPE html>

<html>
  <head>
  <meta charset='utf-8'>
  <title>TestNG reports</title>

    <link type="text/css" href="{% static 'test/testng-reports1.css' %}" rel="stylesheet" id="ultra" />
    <link type="text/css" href="{% static 'test/testng-reports.css' %}" rel="stylesheet" id="retro" disabled="false"/>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="testng-reports.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTable);
      var suiteTableInitFunctions = new Array();
      var suiteTableData = new Array();
    </script>
    <!--
      <script type="text/javascript" src="jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
     -->
  </head>

  <body>
    <div class="top-banner-root">
      <span class="top-banner-title-font">Test results</span>
      <button id="button" class="button">Switch Retro Theme</button> <!-- button -->
      <br/>
      <span class="top-banner-font-1">1 suite, 1 failed test</span>
    </div> <!-- top-banner-root -->
    <div class="navigator-root">
      <div class="navigator-suite-header">
        <span>All suites</span>
        <a href="#" title="Collapse/expand all the suites" class="collapse-all-link">
          <img src="collapseall.gif" class="collapse-all-icon">
          </img> <!-- collapse-all-icon -->
        </a> <!-- collapse-all-link -->
      </div> <!-- navigator-suite-header -->
      <div class="suite">
        <div class="rounded-window">
          <div class="suite-header light-rounded-window-top">
            <a href="#" panel-name="suite-XS2A_TeraBank" class="navigator-link">
              <span class="suite-name border-failed">XS2A-TeraBank</span>
            </a> <!-- navigator-link -->
          </div> <!-- suite-header light-rounded-window-top -->
          <div class="navigator-suite-content">
            <div class="suite-section-title">
              <span>Info</span>
            </div> <!-- suite-section-title -->
            <div class="suite-section-content">
              <ul>
                <li>
                  <a href="#" panel-name="test-xml-XS2A_TeraBank" class="navigator-link ">
                    <span>[unset file name]</span>
                  </a> <!-- navigator-link  -->
                </li>
                <li>
                  <a href="#" panel-name="testlist-XS2A_TeraBank" class="navigator-link ">
                    <span class="test-stats">1 test</span>
                  </a> <!-- navigator-link  -->
                </li>
                <li>
                  <a href="#" panel-name="group-XS2A_TeraBank" class="navigator-link ">
                    <span>0 groups</span>
                  </a> <!-- navigator-link  -->
                </li>
                <li>
                  <a href="#" panel-name="times-XS2A_TeraBank" class="navigator-link ">
                    <span>Times</span>
                  </a> <!-- navigator-link  -->
                </li>
                <li>
                  <a href="#" panel-name="reporter-XS2A_TeraBank" class="navigator-link ">
                    <span>Reporter output</span>
                  </a> <!-- navigator-link  -->
                </li>
                <li>
                  <a href="#" panel-name="ignored-methods-XS2A_TeraBank" class="navigator-link ">
                    <span>Ignored methods</span>
                  </a> <!-- navigator-link  -->
                </li>
                <li>
                  <a href="#" panel-name="chronological-XS2A_TeraBank" class="navigator-link ">
                    <span>Chronological view</span>
                  </a> <!-- navigator-link  -->
                </li>
              </ul>
            </div> <!-- suite-section-content -->
            <div class="result-section">
              <div class="suite-section-title">
                <span>Results</span>
              </div> <!-- suite-section-title -->
              <div class="suite-section-content">
                <ul>
                  <li>
                    <span class="method-stats">23 methods, 1 failed,  1 skipped,  21 passed</span>
                  </li>
                  <li>
                    <span class="method-list-title failed">Failed methods</span>
                    <span class="show-or-hide-methods failed">
                      <a href="#" panel-name="suite-XS2A_TeraBank" class="hide-methods failed suite-XS2A_TeraBank"> (hide)</a> <!-- hide-methods failed suite-XS2A_TeraBank -->
                      <a href="#" panel-name="suite-XS2A_TeraBank" class="show-methods failed suite-XS2A_TeraBank"> (show)</a> <!-- show-methods failed suite-XS2A_TeraBank -->
                    </span>
                    <div class="method-list-content failed suite-XS2A_TeraBank">
                      <span>
                        <img src="failed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="getPaymentDetails">getPaymentDetails</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                    </div> <!-- method-list-content failed suite-XS2A_TeraBank -->
                  </li>
                  <li>
                    <span class="method-list-title skipped">Skipped methods</span>
                    <span class="show-or-hide-methods skipped">
                      <a href="#" panel-name="suite-XS2A_TeraBank" class="hide-methods skipped suite-XS2A_TeraBank"> (hide)</a> <!-- hide-methods skipped suite-XS2A_TeraBank -->
                      <a href="#" panel-name="suite-XS2A_TeraBank" class="show-methods skipped suite-XS2A_TeraBank"> (show)</a> <!-- show-methods skipped suite-XS2A_TeraBank -->
                    </span>
                    <div class="method-list-content skipped suite-XS2A_TeraBank">
                      <span>
                        <img src="skipped.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="cancelPaymentTransaction">cancelPaymentTransaction</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                    </div> <!-- method-list-content skipped suite-XS2A_TeraBank -->
                  </li>
                  <li>
                    <span class="method-list-title passed">Passed methods</span>
                    <span class="show-or-hide-methods passed">
                      <a href="#" panel-name="suite-XS2A_TeraBank" class="hide-methods passed suite-XS2A_TeraBank"> (hide)</a> <!-- hide-methods passed suite-XS2A_TeraBank -->
                      <a href="#" panel-name="suite-XS2A_TeraBank" class="show-methods passed suite-XS2A_TeraBank"> (show)</a> <!-- show-methods passed suite-XS2A_TeraBank -->
                    </span>
                    <div class="method-list-content passed suite-XS2A_TeraBank">
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="getPaymentStatus">getPaymentStatus</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="recheckBalanceAndAssert">recheckBalanceAndAssert</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testAuthorizePaymentOAuth2(org.testng.TestRunner@1181526e)">testAuthorizePaymentOAuth2(org.testng.TestRunner@1181526e)</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testAvailableAccountsOneOffWithSignature">testAvailableAccountsOneOffWithSignature</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testAvailableAccountsOneOffWithSignature_detailed">testAvailableAccountsOneOffWithSignature_detailed</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetAccBalances_detailed_creditorAccount">testGetAccBalances_detailed_creditorAccount</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetAccBalances_detailed_debtorAccount">testGetAccBalances_detailed_debtorAccount</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetAccessibleAccountsWithBalances_detailed">testGetAccessibleAccountsWithBalances_detailed</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetAccessibleAccountsWithoutBalances_detailed">testGetAccessibleAccountsWithoutBalances_detailed</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetAvailableAccountsWithBalances">testGetAvailableAccountsWithBalances</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetConsentStatus">testGetConsentStatus</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetConsentStatus_detailed">testGetConsentStatus_detailed</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetExplicitAuthorization">testGetExplicitAuthorization</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetExplicitAuthorization_detailed">testGetExplicitAuthorization_detailed</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetExplicitAuthorization_payment">testGetExplicitAuthorization_payment</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetOAuth2Setup(org.testng.TestRunner@1181526e)">testGetOAuth2Setup(org.testng.TestRunner@1181526e)</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetOAuth2Setup_detailed(org.testng.TestRunner@1181526e)">testGetOAuth2Setup_detailed(org.testng.TestRunner@1181526e)</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetOAuth2Tokens">testGetOAuth2Tokens</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetOAuth2Tokens_detailed">testGetOAuth2Tokens_detailed</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testGetOAuth2Tokens_payment">testGetOAuth2Tokens_payment</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                      <span>
                        <img src="passed.png" width="3%"/>
                        <a href="#" panel-name="suite-XS2A_TeraBank" title="ge.openfinance.xs2a.test.apitest.AllTestsV1" class="method navigator-link" hash-for-method="testInitPayment">testInitPayment</a> <!-- method navigator-link -->
                      </span>
                      <br/>
                    </div> <!-- method-list-content passed suite-XS2A_TeraBank -->
                  </li>
                </ul>
              </div> <!-- suite-section-content -->
            </div> <!-- result-section -->
          </div> <!-- navigator-suite-content -->
        </div> <!-- rounded-window -->
      </div> <!-- suite -->
    </div> <!-- navigator-root -->
    <div class="wrapper">
      <div class="main-panel-root">
        <div panel-name="suite-XS2A_TeraBank" class="panel XS2A_TeraBank">
          <div class="suite-XS2A_TeraBank-class-failed">
            <div class="main-panel-header rounded-window-top">
              <img src="failed.png"/>
              <span class="class-name">ge.openfinance.xs2a.test.apitest.AllTestsV1</span>
            </div> <!-- main-panel-header rounded-window-top -->
            <div class="main-panel-content rounded-window-bottom">
              <div class="method">
                <div class="method-content">
                  <a name="getPaymentDetails">
                  </a> <!-- getPaymentDetails -->
                  <span class="method-name">getPaymentDetails</span>
                  <div class="stack-trace">java.lang.AssertionError: 1 expectation failed.
Response body doesn&apos;t match expectation.
Expected: The content to match the given JSON schema.
error: object has missing required properties ([&quot;debtorIdentification&quot;,&quot;debtorName&quot;])
    level: &quot;error&quot;
    schema: {&quot;loadingURI&quot;:&quot;jar:file:/opt/app/app.jar!/ge/openfinance/schema/payments/details/response-schema.json#&quot;,&quot;pointer&quot;:&quot;&quot;}
    instance: {&quot;pointer&quot;:&quot;&quot;}
    domain: &quot;validation&quot;
    keyword: &quot;required&quot;
    required: [&quot;creditorAccount&quot;,&quot;debtorAccount&quot;,&quot;debtorIdentification&quot;,&quot;debtorName&quot;,&quot;instructedAmount&quot;,&quot;remittanceInformationUnstructured&quot;,&quot;transactionStatus&quot;]
    missing: [&quot;debtorIdentification&quot;,&quot;debtorName&quot;]

  Actual: {&quot;debtorAccount&quot;:{&quot;iban&quot;:&quot;GE02KS0000000009718110&quot;,&quot;currency&quot;:&quot;GEL&quot;},&quot;instructedAmount&quot;:{&quot;currency&quot;:&quot;GEL&quot;,&quot;amount&quot;:&quot;1.0&quot;},&quot;creditorAccount&quot;:{&quot;iban&quot;:&quot;GE02KS0000000016818510&quot;,&quot;currency&quot;:&quot;GEL&quot;},&quot;remittanceInformationUnstructured&quot;:&quot;Test Payment Nodeb89df9-152d-4213-bab5-1a69f7d661fd&quot;,&quot;transactionStatus&quot;:&quot;ACTC&quot;}

	at org.codehaus.groovy.runtime.callsite.ConstructorSite$ConstructorSiteNoUnwrap.callConstructor(ConstructorSite.java:84)
	at org.codehaus.groovy.runtime.callsite.CallSiteArray.defaultCallConstructor(CallSiteArray.java:59)
	at org.codehaus.groovy.runtime.callsite.AbstractCallSite.callConstructor(AbstractCallSite.java:263)
	at org.codehaus.groovy.runtime.callsite.AbstractCallSite.callConstructor(AbstractCallSite.java:277)
	at io.restassured.internal.ResponseSpecificationImpl$HamcrestAssertionClosure.validate(ResponseSpecificationImpl.groovy:493)
	at io.restassured.internal.ResponseSpecificationImpl$HamcrestAssertionClosure$validate$1.call(Unknown Source)
	at io.restassured.internal.ResponseSpecificationImpl.validate(ResponseSpecificationImpl.groovy:92)
	at io.restassured.internal.ValidatableResponseOptionsImpl.spec(ValidatableResponseOptionsImpl.java:288)
	at io.restassured.internal.ValidatableResponseImpl.super$2$spec(ValidatableResponseImpl.groovy)
	at groovy.lang.MetaMethod.doMethodInvoke(MetaMethod.java:323)
	at groovy.lang.MetaClassImpl.invokeMethod(MetaClassImpl.java:1268)
	at org.codehaus.groovy.runtime.ScriptBytecodeAdapter.invokeMethodOnSuperN(ScriptBytecodeAdapter.java:144)
	at io.restassured.internal.ValidatableResponseImpl.spec(ValidatableResponseImpl.groovy:76)
	at io.restassured.internal.ValidatableResponseImpl.spec(ValidatableResponseImpl.groovy)
	at ge.openfinance.xs2a.test.apitest.AllTestsV1.getPaymentDetails(AllTestsV1.java:1188)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1541)
	at ge.openfinance.xs2a.test.apitest.TestRunner.run(TestRunner.java:93)
	at ge.openfinance.xs2a.test.apitest.TestRunner.main(TestRunner.java:54)
... Removed 34 stack frames
</div> <!-- stack-trace -->
                </div> <!-- method-content -->
              </div> <!-- method -->
            </div> <!-- main-panel-content rounded-window-bottom -->
          </div> <!-- suite-XS2A_TeraBank-class-failed -->
          <div class="suite-XS2A_TeraBank-class-skipped">
            <div class="main-panel-header rounded-window-top">
              <img src="skipped.png"/>
              <span class="class-name">ge.openfinance.xs2a.test.apitest.AllTestsV1</span>
            </div> <!-- main-panel-header rounded-window-top -->
            <div class="main-panel-content rounded-window-bottom">
              <div class="method">
                <div class="method-content">
                  <a name="cancelPaymentTransaction">
                  </a> <!-- cancelPaymentTransaction -->
                  <span class="method-name">cancelPaymentTransaction</span>
                  <div class="stack-trace">java.lang.Throwable: Method ge.openfinance.xs2a.test.apitest.AllTestsV1.cancelPaymentTransaction() on instance ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f depends on not successfully finished methods 
[ge.openfinance.xs2a.test.apitest.AllTestsV1.getPaymentDetails() on instance ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f]
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1541)
	at ge.openfinance.xs2a.test.apitest.TestRunner.run(TestRunner.java:93)
	at ge.openfinance.xs2a.test.apitest.TestRunner.main(TestRunner.java:54)
... Removed 15 stack frames
</div> <!-- stack-trace -->
                </div> <!-- method-content -->
              </div> <!-- method -->
            </div> <!-- main-panel-content rounded-window-bottom -->
          </div> <!-- suite-XS2A_TeraBank-class-skipped -->
          <div class="suite-XS2A_TeraBank-class-passed">
            <div class="main-panel-header rounded-window-top">
              <img src="passed.png"/>
              <span class="class-name">ge.openfinance.xs2a.test.apitest.AllTestsV1</span>
            </div> <!-- main-panel-header rounded-window-top -->
            <div class="main-panel-content rounded-window-bottom">
              <div class="method">
                <div class="method-content">
                  <a name="getPaymentStatus">
                  </a> <!-- getPaymentStatus -->
                  <span class="method-name">getPaymentStatus</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="recheckBalanceAndAssert">
                  </a> <!-- recheckBalanceAndAssert -->
                  <span class="method-name">recheckBalanceAndAssert</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testAuthorizePaymentOAuth2(org.testng.TestRunner@1181526e)">
                  </a> <!-- testAuthorizePaymentOAuth2(org.testng.TestRunner@1181526e) -->
                  <span class="method-name">testAuthorizePaymentOAuth2</span>
                  <span class="parameters">(org.testng.TestRunner@1181526e)</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testAvailableAccountsOneOffWithSignature">
                  </a> <!-- testAvailableAccountsOneOffWithSignature -->
                  <span class="method-name">testAvailableAccountsOneOffWithSignature</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testAvailableAccountsOneOffWithSignature_detailed">
                  </a> <!-- testAvailableAccountsOneOffWithSignature_detailed -->
                  <span class="method-name">testAvailableAccountsOneOffWithSignature_detailed</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetAccBalances_detailed_creditorAccount">
                  </a> <!-- testGetAccBalances_detailed_creditorAccount -->
                  <span class="method-name">testGetAccBalances_detailed_creditorAccount</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetAccBalances_detailed_debtorAccount">
                  </a> <!-- testGetAccBalances_detailed_debtorAccount -->
                  <span class="method-name">testGetAccBalances_detailed_debtorAccount</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetAccessibleAccountsWithBalances_detailed">
                  </a> <!-- testGetAccessibleAccountsWithBalances_detailed -->
                  <span class="method-name">testGetAccessibleAccountsWithBalances_detailed</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetAccessibleAccountsWithoutBalances_detailed">
                  </a> <!-- testGetAccessibleAccountsWithoutBalances_detailed -->
                  <span class="method-name">testGetAccessibleAccountsWithoutBalances_detailed</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetAvailableAccountsWithBalances">
                  </a> <!-- testGetAvailableAccountsWithBalances -->
                  <span class="method-name">testGetAvailableAccountsWithBalances</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetConsentStatus">
                  </a> <!-- testGetConsentStatus -->
                  <span class="method-name">testGetConsentStatus</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetConsentStatus_detailed">
                  </a> <!-- testGetConsentStatus_detailed -->
                  <span class="method-name">testGetConsentStatus_detailed</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetExplicitAuthorization">
                  </a> <!-- testGetExplicitAuthorization -->
                  <span class="method-name">testGetExplicitAuthorization</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetExplicitAuthorization_detailed">
                  </a> <!-- testGetExplicitAuthorization_detailed -->
                  <span class="method-name">testGetExplicitAuthorization_detailed</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetExplicitAuthorization_payment">
                  </a> <!-- testGetExplicitAuthorization_payment -->
                  <span class="method-name">testGetExplicitAuthorization_payment</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetOAuth2Setup(org.testng.TestRunner@1181526e)">
                  </a> <!-- testGetOAuth2Setup(org.testng.TestRunner@1181526e) -->
                  <span class="method-name">testGetOAuth2Setup</span>
                  <span class="parameters">(org.testng.TestRunner@1181526e)</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetOAuth2Setup_detailed(org.testng.TestRunner@1181526e)">
                  </a> <!-- testGetOAuth2Setup_detailed(org.testng.TestRunner@1181526e) -->
                  <span class="method-name">testGetOAuth2Setup_detailed</span>
                  <span class="parameters">(org.testng.TestRunner@1181526e)</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetOAuth2Tokens">
                  </a> <!-- testGetOAuth2Tokens -->
                  <span class="method-name">testGetOAuth2Tokens</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetOAuth2Tokens_detailed">
                  </a> <!-- testGetOAuth2Tokens_detailed -->
                  <span class="method-name">testGetOAuth2Tokens_detailed</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testGetOAuth2Tokens_payment">
                  </a> <!-- testGetOAuth2Tokens_payment -->
                  <span class="method-name">testGetOAuth2Tokens_payment</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
              <div class="method">
                <div class="method-content">
                  <a name="testInitPayment">
                  </a> <!-- testInitPayment -->
                  <span class="method-name">testInitPayment</span>
                </div> <!-- method-content -->
              </div> <!-- method -->
            </div> <!-- main-panel-content rounded-window-bottom -->
          </div> <!-- suite-XS2A_TeraBank-class-passed -->
        </div> <!-- panel XS2A_TeraBank -->
        <div panel-name="test-xml-XS2A_TeraBank" class="panel">
          <div class="main-panel-header rounded-window-top">
          </div> <!-- main-panel-header rounded-window-top -->
          <div class="main-panel-content rounded-window-bottom">
            <pre>
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE suite SYSTEM &quot;https://testng.org/testng-1.0.dtd&quot;&gt;
&lt;suite name=&quot;XS2A-TeraBank&quot;&gt;
  &lt;test thread-count=&quot;5&quot; name=&quot;TeraBank&quot;&gt;
    &lt;parameter name=&quot;remoteWebDriverURL&quot; value=&quot;http://selenium-hub:4444/wd/hub&quot;/&gt;
    &lt;parameter name=&quot;inputDataDirectoryPath&quot; value=&quot;/etc/obgeo/initdata&quot;/&gt;
    &lt;parameter name=&quot;aspspId&quot; value=&quot;TeraBank&quot;/&gt;
    &lt;classes&gt;
      &lt;class name=&quot;ge.openfinance.xs2a.test.apitest.AllTestsV1Factory&quot;/&gt;
    &lt;/classes&gt;
  &lt;/test&gt; &lt;!-- TeraBank --&gt;
&lt;/suite&gt; &lt;!-- XS2A-TeraBank --&gt;
            </pre>
          </div> <!-- main-panel-content rounded-window-bottom -->
        </div> <!-- panel -->
        <div panel-name="testlist-XS2A_TeraBank" class="panel">
          <div class="main-panel-header rounded-window-top">
            <span class="header-content">Tests for XS2A-TeraBank</span>
          </div> <!-- main-panel-header rounded-window-top -->
          <div class="main-panel-content rounded-window-bottom">
            <ul>
              <li>
                <span class="test-name">TeraBank (1 class)</span>
              </li>
            </ul>
          </div> <!-- main-panel-content rounded-window-bottom -->
        </div> <!-- panel -->
        <div panel-name="group-XS2A_TeraBank" class="panel">
          <div class="main-panel-header rounded-window-top">
            <span class="header-content">Groups for XS2A-TeraBank</span>
          </div> <!-- main-panel-header rounded-window-top -->
          <div class="main-panel-content rounded-window-bottom">
          </div> <!-- main-panel-content rounded-window-bottom -->
        </div> <!-- panel -->
        <div panel-name="times-XS2A_TeraBank" class="panel">
          <div class="main-panel-header rounded-window-top">
            <span class="header-content">Times for XS2A-TeraBank</span>
          </div> <!-- main-panel-header rounded-window-top -->
          <div class="main-panel-content rounded-window-bottom">
            <div class="times-div">
              <script type="text/javascript">
suiteTableInitFunctions.push('tableData_XS2A_TeraBank');
function tableData_XS2A_TeraBank() {
var data = new google.visualization.DataTable();
data.addColumn('number', 'Number');
data.addColumn('string', 'Method');
data.addColumn('string', 'Class');
data.addColumn('number', 'Time (ms)');
data.addRows(23);
data.setCell(0, 0, 0)
data.setCell(0, 1, 'testGetOAuth2Setup')
data.setCell(0, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(0, 3, 8304);
data.setCell(1, 0, 1)
data.setCell(1, 1, 'testGetOAuth2Setup_detailed')
data.setCell(1, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(1, 3, 8132);
data.setCell(2, 0, 2)
data.setCell(2, 1, 'testAuthorizePaymentOAuth2')
data.setCell(2, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(2, 3, 8101);
data.setCell(3, 0, 3)
data.setCell(3, 1, 'testAvailableAccountsOneOffWithSignature')
data.setCell(3, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(3, 3, 4475);
data.setCell(4, 0, 4)
data.setCell(4, 1, 'testInitPayment')
data.setCell(4, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(4, 3, 593);
data.setCell(5, 0, 5)
data.setCell(5, 1, 'testGetExplicitAuthorization')
data.setCell(5, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(5, 3, 417);
data.setCell(6, 0, 6)
data.setCell(6, 1, 'testGetAvailableAccountsWithBalances')
data.setCell(6, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(6, 3, 416);
data.setCell(7, 0, 7)
data.setCell(7, 1, 'recheckBalanceAndAssert')
data.setCell(7, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(7, 3, 371);
data.setCell(8, 0, 8)
data.setCell(8, 1, 'testAvailableAccountsOneOffWithSignature_detailed')
data.setCell(8, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(8, 3, 362);
data.setCell(9, 0, 9)
data.setCell(9, 1, 'testGetExplicitAuthorization_detailed')
data.setCell(9, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(9, 3, 296);
data.setCell(10, 0, 10)
data.setCell(10, 1, 'testGetExplicitAuthorization_payment')
data.setCell(10, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(10, 3, 291);
data.setCell(11, 0, 11)
data.setCell(11, 1, 'testGetAccBalances_detailed_creditorAccount')
data.setCell(11, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(11, 3, 231);
data.setCell(12, 0, 12)
data.setCell(12, 1, 'testGetAccBalances_detailed_debtorAccount')
data.setCell(12, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(12, 3, 213);
data.setCell(13, 0, 13)
data.setCell(13, 1, 'testGetConsentStatus')
data.setCell(13, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(13, 3, 195);
data.setCell(14, 0, 14)
data.setCell(14, 1, 'testGetAccessibleAccountsWithoutBalances_detailed')
data.setCell(14, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(14, 3, 185);
data.setCell(15, 0, 15)
data.setCell(15, 1, 'testGetAccessibleAccountsWithBalances_detailed')
data.setCell(15, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(15, 3, 169);
data.setCell(16, 0, 16)
data.setCell(16, 1, 'getPaymentDetails')
data.setCell(16, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(16, 3, 142);
data.setCell(17, 0, 17)
data.setCell(17, 1, 'getPaymentStatus')
data.setCell(17, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(17, 3, 130);
data.setCell(18, 0, 18)
data.setCell(18, 1, 'testGetConsentStatus_detailed')
data.setCell(18, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(18, 3, 118);
data.setCell(19, 0, 19)
data.setCell(19, 1, 'testGetOAuth2Tokens')
data.setCell(19, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(19, 3, 71);
data.setCell(20, 0, 20)
data.setCell(20, 1, 'testGetOAuth2Tokens_payment')
data.setCell(20, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(20, 3, 42);
data.setCell(21, 0, 21)
data.setCell(21, 1, 'testGetOAuth2Tokens_detailed')
data.setCell(21, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(21, 3, 39);
data.setCell(22, 0, 22)
data.setCell(22, 1, 'cancelPaymentTransaction')
data.setCell(22, 2, 'ge.openfinance.xs2a.test.apitest.AllTestsV1')
data.setCell(22, 3, 1);
window.suiteTableData['XS2A_TeraBank']= { tableData: data, tableDiv: 'times-div-XS2A_TeraBank'}
return data;
}
              </script>
              <span class="suite-total-time">Total running time: 33 seconds</span>
              <div id="times-div-XS2A_TeraBank">
              </div> <!-- times-div-XS2A_TeraBank -->
            </div> <!-- times-div -->
          </div> <!-- main-panel-content rounded-window-bottom -->
        </div> <!-- panel -->
        <div panel-name="reporter-XS2A_TeraBank" class="panel">
          <div class="main-panel-header rounded-window-top">
            <span class="header-content">Reporter output for XS2A-TeraBank</span>
          </div> <!-- main-panel-header rounded-window-top -->
          <div class="main-panel-content rounded-window-bottom">
          </div> <!-- main-panel-content rounded-window-bottom -->
        </div> <!-- panel -->
        <div panel-name="ignored-methods-XS2A_TeraBank" class="panel">
          <div class="main-panel-header rounded-window-top">
            <span class="header-content">0 ignored methods</span>
          </div> <!-- main-panel-header rounded-window-top -->
          <div class="main-panel-content rounded-window-bottom">
          </div> <!-- main-panel-content rounded-window-bottom -->
        </div> <!-- panel -->
        <div panel-name="chronological-XS2A_TeraBank" class="panel">
          <div class="main-panel-header rounded-window-top">
            <span class="header-content">Methods in chronological order</span>
          </div> <!-- main-panel-header rounded-window-top -->
          <div class="main-panel-content rounded-window-bottom">
            <div class="chronological-class">
              <div class="chronological-class-name">ge.openfinance.xs2a.test.apitest.TestSuiteCommon</div> <!-- chronological-class-name -->
              <div class="configuration-suite before">
                <span class="method-name">init(org.testng.TestRunner@1181526e)</span>
                <span class="method-start">0 ms</span>
              </div> <!-- configuration-suite before -->
            </div> <!-- chronological-class -->
            <div class="chronological-class">
              <div class="chronological-class-name">ge.openfinance.xs2a.test.apitest.AllTestsV1</div> <!-- chronological-class-name -->
              <div class="configuration-class before">
                <span class="method-name">initAll(org.testng.TestRunner@1181526e)</span>
                <span class="method-start">941 ms</span>
              </div> <!-- configuration-class before -->
              <div class="test-method">
                <span class="method-name">testAvailableAccountsOneOffWithSignature</span>
                <span class="method-start">947 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetExplicitAuthorization</span>
                <span class="method-start">5431 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetOAuth2Setup(org.testng.TestRunner@1181526e)</span>
                <span class="method-start">5852 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetOAuth2Tokens</span>
                <span class="method-start">14158 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetConsentStatus</span>
                <span class="method-start">14230 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetAvailableAccountsWithBalances</span>
                <span class="method-start">14426 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testAvailableAccountsOneOffWithSignature_detailed</span>
                <span class="method-start">14843 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetExplicitAuthorization_detailed</span>
                <span class="method-start">15206 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetOAuth2Setup_detailed(org.testng.TestRunner@1181526e)</span>
                <span class="method-start">15504 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetOAuth2Tokens_detailed</span>
                <span class="method-start">23637 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetConsentStatus_detailed</span>
                <span class="method-start">23679 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetAccessibleAccountsWithBalances_detailed</span>
                <span class="method-start">23798 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetAccessibleAccountsWithoutBalances_detailed</span>
                <span class="method-start">23968 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetAccBalances_detailed_creditorAccount</span>
                <span class="method-start">24154 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetAccBalances_detailed_debtorAccount</span>
                <span class="method-start">24387 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testInitPayment</span>
                <span class="method-start">24601 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetExplicitAuthorization_payment</span>
                <span class="method-start">25196 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testAuthorizePaymentOAuth2(org.testng.TestRunner@1181526e)</span>
                <span class="method-start">25488 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">testGetOAuth2Tokens_payment</span>
                <span class="method-start">33590 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">getPaymentStatus</span>
                <span class="method-start">33632 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">recheckBalanceAndAssert</span>
                <span class="method-start">33764 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <img src="failed.png">
                </img>
                <span class="method-name">getPaymentDetails</span>
                <span class="method-start">34136 ms</span>
              </div> <!-- test-method -->
              <div class="test-method">
                <span class="method-name">cancelPaymentTransaction</span>
                <span class="method-start">34286 ms</span>
              </div> <!-- test-method -->
            </div> <!-- chronological-class -->
            <div class="chronological-class">
              <div class="chronological-class-name">ge.openfinance.xs2a.test.apitest.TestSuiteCommon</div> <!-- chronological-class-name -->
              <div class="configuration-suite after">
                <span class="method-name">shutdown(org.testng.TestRunner@1181526e)</span>
                <span class="method-start">34335 ms</span>
              </div> <!-- configuration-suite after -->
          </div> <!-- main-panel-content rounded-window-bottom -->
        </div> <!-- panel -->
      </div> <!-- main-panel-root -->
    </div> <!-- wrapper -->
  </body>
<script type="text/javascript" src="testng-reports2.js"></script>
</html>
