<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ge.openfinance.xs2a.test.apitest.AllTestsV1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testGetOAuth2Setup_detailed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getPaymentStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getPaymentDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetConsentStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAvailableAccountsOneOffWithSignature</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetExplicitAuthorization_detailed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetOAuth2Tokens</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetAccessibleAccountsWithBalances_detailed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>recheckBalanceAndAssert</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetAccBalances_detailed_debtorAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetConsentStatus_detailed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAvailableAccountsOneOffWithSignature_detailed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetOAuth2Tokens_payment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAuthorizePaymentOAuth2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetExplicitAuthorization_payment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetAccessibleAccountsWithoutBalances_detailed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetOAuth2Tokens_detailed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetExplicitAuthorization</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cancelPaymentTransaction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetOAuth2Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetAvailableAccountsWithBalances</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testInitPayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetAccBalances_detailed_creditorAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initAll</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
