<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>XS2A-TeraBank</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testInitPayment()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testInitPayment</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:00</td>   <td>-10175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetAvailableAccountsWithBalances()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetAvailableAccountsWithBalances</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:20</td>   <td>9686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.cancelPaymentTransaction()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">cancelPaymentTransaction</td> 
  <td></td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:27:51</td>   <td>-19170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetExplicitAuthorization()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetExplicitAuthorization</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:27:52</td>   <td>-18750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetOAuth2Setup(org.testng.ITestContext)[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetOAuth2Setup</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:10</td>   <td>-633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetAccessibleAccountsWithoutBalances_detailed()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetAccessibleAccountsWithoutBalances_detailed</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:27:47</td>   <td>-23659</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTestsV1.initAll(org.testng.ITestContext)[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">&gt;&gt;initAll</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:00</td>   <td>-10371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetConsentStatus()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetConsentStatus</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="c3abb3">  <td>22/04/06 14:28:20</td>   <td>9734</td> <td title="&lt;&lt;TestSuiteCommon.shutdown(org.testng.ITestContext)[pri:0, instance:ge.openfinance.xs2a.test.apitest.TestSuiteCommon@4fe89c24, instance params:[TeraBank]]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1800500978</td>   <td>1340644388 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:10</td>   <td>-922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetConsentStatus_detailed()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetConsentStatus_detailed</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:10</td>   <td>-447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetAccBalances_detailed_creditorAccount()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetAccBalances_detailed_creditorAccount</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:10</td>   <td>-803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetAccessibleAccountsWithBalances_detailed()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetAccessibleAccountsWithBalances_detailed</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:10</td>   <td>-964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetOAuth2Tokens_detailed()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetOAuth2Tokens_detailed</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:20</td>   <td>9031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.getPaymentStatus()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">getPaymentStatus</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:10</td>   <td>-214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetAccBalances_detailed_debtorAccount()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetAccBalances_detailed_debtorAccount</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:20</td>   <td>9162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.recheckBalanceAndAssert()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">recheckBalanceAndAssert</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:12</td>   <td>887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testAuthorizePaymentOAuth2(org.testng.ITestContext)[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testAuthorizePaymentOAuth2</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="c3abb3">  <td>22/04/06 14:27:46</td>   <td>-24596</td> <td title="&gt;&gt;TestSuiteCommon.init(org.testng.ITestContext)[pri:0, instance:ge.openfinance.xs2a.test.apitest.TestSuiteCommon@4fe89c24, instance params:[TeraBank]]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1800500978</td>   <td>1340644388 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:01</td>   <td>-9395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetExplicitAuthorization_detailed()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetExplicitAuthorization_detailed</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:01</td>   <td>-9758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testAvailableAccountsOneOffWithSignature_detailed()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testAvailableAccountsOneOffWithSignature_detailed</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:00</td>   <td>-10443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetOAuth2Tokens()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetOAuth2Tokens</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:20</td>   <td>9535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.getPaymentDetails()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">getPaymentDetails</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:20</td>   <td>8989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetOAuth2Tokens_payment()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetOAuth2Tokens_payment</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:27:47</td>   <td>-23654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testAvailableAccountsOneOffWithSignature()[pri:1, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testAvailableAccountsOneOffWithSignature</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:02</td>   <td>-9097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetOAuth2Setup_detailed(org.testng.ITestContext)[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetOAuth2Setup_detailed</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
<tr bgcolor="a8a6ae">  <td>22/04/06 14:28:11</td>   <td>595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestsV1.testGetExplicitAuthorization_payment()[pri:0, instance:ge.openfinance.xs2a.test.apitest.AllTestsV1@7c22d4f, instance params:[TeraBank]]">testGetExplicitAuthorization_payment</td> 
  <td>main@1800500978</td>   <td>130166095 </td> </tr>
</table>
